<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConcurrencyProgramming.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E379746920871B9500B7823D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E379747D20871B9900B7823D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E379748820871B9900B7823D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
